body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
ul li{
    display: inline-flex;
    
}
.header{
    display: flex;
    
}

.header-nav, .header-icons{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

.title {
    text-align: center;
}
